<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
  </head>
  <body>
    <header class="header">
         <h1 class="hidden">Luật sư Thiệu</h1> 
         <div class="header-top">
             <div class="container">
                <div class="row">
                  <div class="col-sm-3">
                      <a class="logo-1" href="/">
                         <img src="../assets/images/icon/justice.jpg" alt="Logo Văn phòng luật sư Thiệu" style="max-height: 100px;">
                      </a>
                  </div>
                  <div class="col-sm-6 col-xs-12">
                      <div class="slogan">
                          <h2>Luật sư Thiệu</h2>
                          <p>Luôn đồng hành trên chặng đường pháp lý của bạn</p>
                      </div>
                  </div>
                  <div class="col-sm-3">
                      <div class="hotline">
                          <div class="logo-call">
                             <img class="center-block" src="../assets/images/icon/hotline.gif">
                          </div>
                          <div class="detail-call">
                              <p>Hotline:</p>
                              <p><strong>090 000 0001</strong></p>
                          </div>
                      </div>
                  </div>
                </div>
             </div>
         </div>
         <nav class="navbar navbar-default">
             <div class="container">
                <ul>
                  <li id="menu-item-0">
                    <a href="#"><i class="fa fa-home"></i></a>
                  </li>  
                  <li id="menu-item-1">
                    <a href="#">Giới thiệu</a>
                  </li> 
                  <li id="menu-item-2" class="dropdown-name menu-item-2">
                    <a href="javascript:void(0)" class="dropbtn-title">Dân sự</a>
                    <div class="dropdown-content">
                        <a href="#">Tư vấn dân sự</a>
                        <a href="#">Dịch vụ luật sư dân sự</a>
                    </div>
                  </li>
                  <li id="menu-item-3" class="dropdown-name menu-item-3">
                    <a href="javascript:void(0)" class="dropbtn">Đất đai</a>
                    <div class="dropdown-content">
                      <a href="#">Tư vấn luật đất đai</a>
                      <a href="#">Dịch vụ luật sư đất đai</a>
                    </div>
                  </li>
                  <li id="menu-item-4" class="dropdown-name menu-item-4">
                    <a href="javascript:void(0)" class="dropbtn">Hôn nhân</a>
                    <div class="dropdown-content">
                      <a href="#">Tư vấn luật hôn nhân</a>
                      <a href="#">Dịch vụ luật sư hôn nhân</a>
                    </div>
                  </li>
                  <li id="menu-item-5" class="dropdown-name menu-item-5">
                    <a href="javascript:void(0)" class="dropbtn">Doanh nghiệp</a>
                    <div class="dropdown-content">
                      <a href="#">Tư vấn luật doanh nghiệp</a>
                      <a href="#">Dịch vụ luật sư doanh nghiệp</a>
                    </div>
                  </li>
                  <li id="menu-item-6" class="dropdown-name menu-item-6">
                    <a href="javascript:void(0)" class="dropbtn">Lao động</a>
                    <div class="dropdown-content">
                      <a href="#">Tư vấn luật lao động</a>
                      <a href="#">Dịch vụ luật sư lao động</a>
                    </div>
                  </li>
                  <li id="menu-item-6" class="dropdown-name menu-item-6">
                    <a href="javascript:void(0)" class="dropbtn">Hình sự</a>
                    <div class="dropdown-content">
                      <a href="#">Tư vấn luật hình sự</a>
                      <a href="#">Dịch vụ luật sư hình sự</a>
                    </div>
                  </li>
                  <li id="menu-item-7">
                    <a href="#">Tin tức</a>
                  </li>
                  <li id="menu-item-8">
                    <a href="#">Liên hệ</a>
                  </li>
                </ul>
             </div>
         </nav>
    </header>
    <div id="content" class="site-content">
        <main>
          <div class="slider-kk">
              <div class="container">
                  <div class="row">
                      <div class="col-sm-9 col-md-9 col-lg-9 pr-9 form-group">
                        
                      </div>
                      <div class="col-sm-3 col-md-3 col-lg-3 pl-3 form-group">
                          <div class="sidenar">
                              <div id="search-2" class="widget widget_search">
                                  <div class="form-mobile">
                                      <form action="#" method="GET">
                                           <input type="text" class="form-control" placeholder="Tìm kiếm...">
                                           <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                      </form>
                                  </div>
                              </div>
                              <div class="widget widget_media_image">
                                <a href="#">
                                  <img class="image wp-image-194  attachment-full size-full" src="../assets/images/icon/LUAT-GIA-Q.png" style="max-width: 100%; height: auto;" sizes="(max-width: 700px) 100vw, 700px">
                                </a>
                              </div>
                              <div id="text-2" class="widget widget_text">
                                  <div class="textwidget">
                                       <div class="hotline1">
                                           <span style="font-size: 20px;">Hotline 1:</span>
                                           <br>
                                           <span style="font-size: 30px;">
                                          <strong>090 579 8868</strong>
                                           </span>
                                       </div>
                                       <div class="hotline1">
                                        <span style="font-size: 20px;">Hotline 2:</span>
                                        <br>
                                        <span style="font-size: 30px;">
                                       <strong>094 569 9968</strong>
                                        </span>
                                       </div>
                                       <div class="hotline1">
                                        <span style="font-size: 20px;">Luật sư tư vấn:</span>
                                        <br>
                                        <span style="font-size: 30px;">
                                       <strong>088 445 9228</strong>
                                        </span>
                                       </div>
                                       <div class="hotline1">
                                        <span style="font-size: 20px;">Đặt lịch hẹn:</span>
                                        <br>
                                        <span style="font-size: 30px;">
                                       <strong>088 445 9228</strong>
                                        </span>
                                       </div>
                                       <div>
                                        <em>
                                          <strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;LUẬT SƯ HỖ TRỢ 24/7</strong>
                                        </em>
                                       </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </main>
    </div>
  </body>
</html>



