<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65">
  </head>
  <body>
    <header class="header">
         <h1 class="hidden">Luật sư Thiệu</h1> 
         <div class="header-top">
             <div class="container">
                <div class="row">
                  <div class="col-sm-3">
                      <a class="logo-1" href="/">
                         <img src="../assets/images/icon/logoMini.png" alt="Logo Văn phòng luật sư Thiệu" style="max-height: 100px;">
                      </a>
                  </div>
                  <div class="col-sm-6 col-xs-12">
                      <div class="slogan">
                          <h2>Luật sư Thiệu</h2>
                          <p>Luôn đồng hành trên chặng đường pháp lý của bạn</p>
                      </div>
                  </div>
                  <div class="col-sm-3">
                      <div class="hotline">
                          <div class="logo-call">
                             <img class="center-block" src="../assets/images/icon/hotline.gif">
                          </div>
                          <div class="detail-call">
                              <p>Hotline:</p>
                              <p><strong>090 000 0001</strong></p>
                          </div>
                      </div>
                  </div>
                </div>
             </div>
         </div>
         <nav class="navbar-default">
             <div class="container">
                <ul class="nav-list">
                  <li id="menu-item-0">
                    <a href="#"><i class="fa fa-home"></i></a>
                  </li>  
                  <li id="menu-item-1">
                    <a href="#">Giới thiệu</a>
                  </li> 
                  <li id="menu-item-2" class="dropdown-name menu-item-2">
                    <a href="javascript:void(0)" class="dropbtn-title">Dân sự</a>
                    <div class="dropdown-content">
                        <a href="#">Tư vấn dân sự</a>
                        <a href="#">Dịch vụ luật sư dân sự</a>
                    </div>
                  </li>
                  <li id="menu-item-3" class="dropdown-name menu-item-3">
                    <a href="javascript:void(0)" class="dropbtn">Đất đai</a>
                    <div class="dropdown-content">
                      <a href="#">Tư vấn luật đất đai</a>
                      <a href="#">Dịch vụ luật sư đất đai</a>
                    </div>
                  </li>
                  <li id="menu-item-4" class="dropdown-name menu-item-4">
                    <a href="javascript:void(0)" class="dropbtn">Hôn nhân</a>
                    <div class="dropdown-content">
                      <a href="#">Tư vấn luật hôn nhân</a>
                      <a href="#">Dịch vụ luật sư hôn nhân</a>
                    </div>
                  </li>
                  <li id="menu-item-5" class="dropdown-name menu-item-5">
                    <a href="javascript:void(0)" class="dropbtn">Doanh nghiệp</a>
                    <div class="dropdown-content">
                      <a href="#">Tư vấn luật doanh nghiệp</a>
                      <a href="#">Dịch vụ luật sư doanh nghiệp</a>
                    </div>
                  </li>
                  <li id="menu-item-6" class="dropdown-name menu-item-6">
                    <a href="javascript:void(0)" class="dropbtn">Lao động</a>
                    <div class="dropdown-content">
                      <a href="#">Tư vấn luật lao động</a>
                      <a href="#">Dịch vụ luật sư lao động</a>
                    </div>
                  </li>
                  <li id="menu-item-6" class="dropdown-name menu-item-6">
                    <a href="javascript:void(0)" class="dropbtn">Hình sự</a>
                    <div class="dropdown-content">
                      <a href="#">Tư vấn luật hình sự</a>
                      <a href="#">Dịch vụ luật sư hình sự</a>
                    </div>
                  </li>
                  <li id="menu-item-7">
                    <a href="#">Tin tức</a>
                  </li>
                  <li id="menu-item-8">
                    <a href="#">Liên hệ</a>
                  </li>
                </ul>
             </div>
         </nav>
    </header>
    <main class="site-content">
      <section class="slider-kk">
          <div class="container">
              <div class="row">
                  <div class="col-sm-9 col-md-9 col-lg-9 pr-9 form-group">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                      <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                      </ol>
                      <div class="carousel-inner">
                        <div class="carousel-item active" style="max-height: 700px;">
                          <img class="d-block w-100" src="../assets/images/icon/law1.jpeg" alt="First slide">
                        </div>
                        <div class="carousel-item" style="max-height: 700px;">
                          <img class="d-block w-100" src="../assets/images/icon/law2.jpeg" alt="Second slide">
                        </div>
                        <div class="carousel-item" style="max-height: 700px;">
                          <img class="d-block w-100" src="../assets/images/icon/lawlogo.png" alt="Third slide">
                        </div>
                      </div>
                      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>
                    <!-- <div class="most-featured-post">
                        <h2>Bài viết nổi bật nhất</h2>
                        <div class="box-detail">
                            <div class="row">
                                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 form-group">
                                    <a class="img-info" href="#">
                                       <img width="100%" src="../assets/images/icon/Lstk.jpg">
                                       <h3 class="title-item">Điều kiện và thủ tục chuyển nhượng quyền sử dụng đất</h3>
                                    </a>
                                </div>
                                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 form-group">
                                  <ul>
                                    <li>
                                      <a href="#">
                                          Dịch vụ luật sư đất đai tại Đồng Nai
                                      </a>
                                    </li>
                                    <li>
                                      <a href="#">
                                          Dịch vụ đăng ký doanh nghiệp tại Biên Hòa
                                      </a>
                                    </li>
                                    <li>
                                      <a href="#">
                                          Dịch vụ luật sư đầu tư tại Đồng Nai
                                      </a>
                                    </li>
                                    <li>
                                      <a href="#">
                                          Dịch vụ đăng ký đầu tư tại Đồng Nai
                                      </a>
                                    </li>
                                  </ul>  
                                </div>
                            </div>
                        </div>
                    </div> -->
                  </div>
                  <div class="col-sm-3 col-md-3 col-lg-3 pl-3 form-group" style="z-index: 2;">
                      <div class="sidenar">
                          <div id="search-2" class="widget widget_search">
                              <div class="form-mobile">
                                  <form action="#" method="GET">
                                       <input type="text" class="form-control" placeholder="Tìm kiếm...">
                                       <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                  </form>
                              </div>
                          </div>
                          <div class="widget widget_media_image">
                            <a href="#">
                              <img class="image wp-image-194  attachment-full size-full" src="../assets/images/icon/LUAT-GIA-Q.png" style="max-width: 100%; height: auto;" sizes="(max-width: 700px) 100vw, 700px">
                            </a>
                          </div>
                          <div id="text-2" class="widget widget_text">
                              <div class="textwidget">
                                   <div class="hotline1">
                                       <span style="font-size: 20px;">Hotline 1:</span>
                                       <br>
                                       <span style="font-size: 25px;">
                                      <strong>090 579 8868</strong>
                                       </span>
                                   </div>
                                   <div class="hotline1">
                                    <span style="font-size: 20px;">Hotline 2:</span>
                                    <br>
                                    <span style="font-size: 25px;">
                                   <strong>094 569 9968</strong>
                                    </span>
                                   </div>
                                   <div class="hotline1">
                                    <span style="font-size: 20px;">Luật sư tư vấn:</span>
                                    <br>
                                    <span style="font-size: 25px;">
                                   <strong>088 445 9228</strong>
                                    </span>
                                   </div>
                                   <div class="hotline1">
                                    <span style="font-size: 20px;">Đặt lịch hẹn:</span>
                                    <br>
                                    <span style="font-size: 25px;">
                                   <strong>088 445 9228</strong>
                                    </span>
                                   </div>
                                   <div>
                                    <em>
                                      <strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;LUẬT SƯ HỖ TRỢ 24/7</strong>
                                    </em>
                                   </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <section class="post-diff">
         <div class="container">
             <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
                  <div class="baivietnoibat">
                    <div class="u-layout-row">
                        <div class="u-size-30">
                          <div class="u-layout-cell u-white">
                            <div class="box-detail">
                              <div class="form-group">
                                <a class="img-info" href="#">
                                   <img width="100%" src="../assets/images/icon/Lstk.jpg">
                                   <h3 class="title-item">Điều kiện và thủ tục chuyển nhượng quyền sử dụng đất</h3>
                                </a>
                            </div>
                            <div class="form-group">
                              <ul>
                                <li>
                                  <a href="#">
                                      Dịch vụ luật sư đất đai tại Đồng Nai
                                  </a>
                                </li>
                                <li>
                                  <a href="#">
                                      Dịch vụ đăng ký doanh nghiệp tại Biên Hòa
                                  </a>
                                </li>
                                <li>
                                  <a href="#">
                                      Dịch vụ luật sư đầu tư tại Đồng Nai
                                  </a>
                                </li>
                                <li>
                                  <a href="#">
                                      Dịch vụ đăng ký đầu tư tại Đồng Nai
                                  </a>
                                </li>
                              </ul>  
                            </div>
                          </div>
                          </div>
                        </div>
                        <div class="u-size-30" style="padding-top: 150px;padding-left: 30px;">
                          <div class="u-post">
                            <h2 class="text-post">Bài viết nổi bật nhất</h2>
                          </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 form-group">
                    <div class="most-featured-post">
                        <h2>
                            <img width="8%" src="../assets/images/icon/logoMini.png" alt="logo">
                            <a href="#">Tư vấn luật đất đai</a>
                        </h2>
                        <div class="box-detail">
                            <div class="boxtt">
                                <a href="#">
                                   <div class="row">
                                      <div class="col-xs-4 col-sm-3 smkl-3 form-group">
                                        <img width="100%" src="../assets/images/icon/law1.jpeg" alt="Văn phòng luật sư Biên Hòa Đồng Nai">
                                      </div>
                                      <div class="col-xs-8 col-sm-9 smkl-9">
                                        <h3 class="title-h3">Văn phòng luật sư Biên Hòa Đồng Nai</h3>
                                        <p>
                                          <span>18/01/2022</span>
                                          17:12
                                        </p>
                                      </div>
                                   </div>
                                </a>
                            </div>
                            <ul>
                               <li>
                                   <a href="#">Điều kiện và thủ tục chuyển nhượng quyền sử dụng đất</a>
                               </li>
                               <li>
                                   <a href="#">Tư vấn mua bán đất bằng giấy tay</a>
                               </li>
                               <li>
                                   <a href="#">Những lưu ý khi đặt cọc mua bán nhà đất – Luật sư Đồng...</a>
                               </li>
                               <li>
                                   <a href="#">Tư vấn tranh chấp hợp đồng đặt cọc</a>
                               </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 form-group">
                    <div class="most-featured-post">
                        <h2>
                            <img width="8%" src="../assets/images/icon/logoMini.png" alt="logo">
                            <a href="#">Dịch vụ luật sư đất đai</a>
                        </h2>
                        <div class="box-detail">
                            <div class="boxtt">
                                <a href="#">
                                   <div class="row">
                                      <div class="col-xs-4 col-sm-3 smkl-3 form-group">
                                        <img width="100%" src="../assets/images/icon/dvlsddjpg.jpg" alt="Văn phòng luật sư Biên Hòa Đồng Nai">
                                      </div>
                                      <div class="col-xs-8 col-sm-9 smkl-9">
                                        <h3 class="title-h3">Dịch vụ luật sư đất đai tại Đồng Nai</h3>
                                        <p>
                                          <span>18/01/2022</span>
                                          04:24
                                        </p>
                                      </div>
                                   </div>
                                </a>
                            </div>
                            <ul>
                               <li>
                                   <a href="#">Luật sư đất đai tại Biên Hòa</a>
                               </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 form-group">
                  <div class="most-featured-post">
                      <h2>
                          <img width="8%" src="../assets/images/icon/logoMini.png" alt="logo">
                          <a href="#">Tư vấn luật dân sự</a>
                      </h2>
                      <div class="box-detail">
                          <div class="boxtt">
                              <a href="#">
                                 <div class="row">
                                    <div class="col-xs-4 col-sm-3 smkl-3 form-group">
                                      <img width="100%" src="../assets/images/icon/law1.jpeg" alt="Trách nhiệm bồi thường thiệt hại do người lao động gây ra">
                                    </div>
                                    <div class="col-xs-8 col-sm-9 smkl-9">
                                      <h3 class="title-h3">Trách nhiệm bồi thường thiệt hại do người lao động gây ra</h3>
                                      <p>
                                        <span>22/04/2023</span>
                                        09:32
                                      </p>
                                    </div>
                                 </div>
                              </a>
                          </div>
                          <ul>
                             <li>
                                 <a href="#">Luật sư tư vấn về công chứng và thừa kế</a>
                             </li>
                             <li>
                                 <a href="#">Chứng thực chữ ký có cần CMND bản chính?</a>
                             </li>
                             <li>
                                 <a href="#">Văn phòng luật sư tại Long Khánh tư vấn về tín dụng đen</a>
                             </li>
                             <li>
                                 <a href="#">Bảo lãnh vay nợ, phải trả nợ thay cho người vay</a>
                             </li>
                          </ul>
                      </div>
                  </div>
                </div>
                
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 form-group">
                  <div class="most-featured-post">
                      <h2>
                          <img width="8%" src="../assets/images/icon/logoMini.png" alt="logo">
                          <a href="#">Dịch vụ luật sư dân sự</a>
                      </h2>
                      <div class="box-detail">
                          <div class="boxtt">
                              <a href="#">
                                 <div class="row">
                                    <div class="col-xs-4 col-sm-3 smkl-3 form-group">
                                      <img width="100%" src="../assets/images/icon/lsds.jpg" alt="Luật sư dân sự tại Biên Hòa">
                                    </div>
                                    <div class="col-xs-8 col-sm-9 smkl-9">
                                      <h3 class="title-h3">Luật sư dân sự tại Biên Hòa</h3>
                                      <p>
                                        <span>06/02/2023</span>
                                        10:31
                                      </p>
                                    </div>
                                 </div>
                              </a>
                          </div>
                          <ul>
                             <li>
                                 <a href="#">Dịch vụ luật sư dân sự tại Đồng Nai</a>
                             </li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 form-group">
                <div class="most-featured-post">
                    <h2>
                        <img width="8%" src="../assets/images/icon/logoMini.png" alt="logo">
                        <a href="#">Tư vấn luật hôn nhân</a>
                    </h2>
                    <div class="box-detail">
                        <div class="boxtt">
                            <a href="#">
                               <div class="row">
                                  <div class="col-xs-4 col-sm-3 smkl-3 form-group">
                                    <img width="100%" src="../assets/images/icon/lshn.jpg" alt="Chồng vay tiền, vợ có phải trả nợ không?">
                                  </div>
                                  <div class="col-xs-8 col-sm-9 smkl-9">
                                    <h3 class="title-h3">Chồng vay tiền, vợ có phải trả nợ không?</h3>
                                    <p>
                                      <span>09/03/2023</span>
                                      11:41
                                    </p>
                                  </div>
                               </div>
                            </a>
                        </div>
                        <ul>
                           <li>
                               <a href="#">Giải quyết Giấy chứng nhận kết hôn cấp sai thẩm quyền</a>
                           </li>
                           <li>
                               <a href="#">Thủ tục ly hôn tại Biên Hòa Đồng Nai</a>
                           </li>
                           <li>
                               <a href="#">Giành quyền nuôi con tại Biên Hòa</a>
                           </li>
                           <li>
                               <a href="#">Thay đổi người trực tiếp nuôi con tại Biên Hòa</a>
                           </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 form-group">
              <div class="most-featured-post">
                  <h2>
                      <img width="8%" src="../assets/images/icon/logoMini.png" alt="logo">
                      <a href="#">Dịch vụ luật sư hôn nhân</a>
                  </h2>
                  <div class="box-detail">
                      <div class="boxtt">
                          <a href="#">
                             <div class="row">
                                <div class="col-xs-4 col-sm-3 smkl-3 form-group">
                                  <img width="100%" src="../assets/images/icon/lshn.jpg" alt="Mẫu đơn ly hôn tại Biên Hòa">
                                </div>
                                <div class="col-xs-8 col-sm-9 smkl-9">
                                  <h3 class="title-h3">Mẫu đơn ly hôn tại Biên Hòa</h3>
                                  <p>
                                    <span>29/03/2023</span>
                                    12:11
                                  </p>
                                </div>
                             </div>
                          </a>
                      </div>
                      <ul>
                         <li>
                             <a href="#">Dịch vụ Luật sư hôn nhân tại Đồng Nai</a>
                         </li>
                         <li>
                             <a href="#">Dịch vụ ly hôn trọn gói tại Biên Hòa</a>
                         </li>
                         <li>
                             <a href="#">Luật sư ly hôn tại TP. Hồ Chí Minh</a>
                         </li>
                         <li>
                             <a href="#">Dịch vụ luật sư ly hôn đơn phương nhanh</a>
                         </li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 form-group">
            <div class="most-featured-post">
                <h2>
                    <img width="8%" src="../assets/images/icon/logoMini.png" alt="logo">
                    <a href="#">Tư vấn luật lao động</a>
                </h2>
                <div class="box-detail">
                    <div class="boxtt">
                        <a href="#">
                           <div class="row">
                              <div class="col-xs-4 col-sm-3 smkl-3 form-group">
                                <img width="100%" src="../assets/images/icon/law1.jpeg" alt="Điều kiện thủ tục hưởng chế độ bảo hiểm một lần">
                              </div>
                              <div class="col-xs-8 col-sm-9 smkl-9">
                                <h3 class="title-h3">Điều kiện thủ tục hưởng chế độ bảo hiểm một lần</h3>
                                <p>
                                  <span>09/04/2023</span>
                                  08:15
                                </p>
                              </div>
                           </div>
                        </a>
                    </div>
                    <ul>
                       <li>
                           <a href="#">Trách nhiệm bồi thường thiệt hại do người lao động gây ra</a>
                       </li>
                       <li>
                           <a href="#">Luật sư tư vấn lao động về tai nạn lao động</a>
                       </li>
                       <li>
                           <a href="#">Luật sư tư vấn lao động về tai nạn lao động</a>
                       </li>
                       <li>
                           <a href="#">Điều kiện thủ tục hưởng chế độ bảo hiểm một lần</a>
                       </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 form-group">
          <div class="most-featured-post">
              <h2>
                  <img width="8%" src="../assets/images/icon/logoMini.png" alt="logo">
                  <a href="#">Dịch vụ luật sư lao động</a>
              </h2>
              <div class="box-detail">
                  <div class="boxtt">
                      <a href="#">
                         <div class="row">
                            <div class="col-xs-4 col-sm-3 smkl-3 form-group">
                              <img width="100%" src="../assets/images/icon/law1.jpeg" alt="Luật sư lao động tại Biên Hòa Đồng Nai">
                            </div>
                            <div class="col-xs-8 col-sm-9 smkl-9">
                              <h3 class="title-h3">Luật sư lao động tại Biên Hòa Đồng Nai</h3>
                              <p>
                                <span>09/04/2023</span>
                                08:15
                              </p>
                            </div>
                         </div>
                      </a>
                  </div>
                  <ul>
                     <li>
                         <a href="#">Luật sư lao động tại Biên Hòa Đồng Nai</a>
                     </li>
                     <li>
                         <a href="#">Dịch vụ luật sư lao động tại Biên Hòa Đồng Nai</a>
                     </li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 form-group">
        <div class="most-featured-post">
            <h2>
                <img width="8%" src="../assets/images/icon/logoMini.png" alt="logo">
                <a href="#">Tư vấn luật hình sự</a>
            </h2>
            <div class="box-detail">
                <div class="boxtt">
                    <a href="#">
                       <div class="row">
                          <div class="col-xs-4 col-sm-3 smkl-3 form-group">
                            <img width="100%" src="../assets/images/icon/lshs.jpg" alt="Quan hệ với bạn gái vừa mới bước qua tuổi 16, có phạm tội không?">
                          </div>
                          <div class="col-xs-8 col-sm-9 smkl-9">
                            <h3 class="title-h3">Quan hệ với bạn gái vừa mới bước qua tuổi 16, có phạm tội không?</h3>
                            <p>
                              <span>14/01/2023</span>
                              06:45
                            </p>
                          </div>
                       </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 form-group">
      <div class="most-featured-post">
          <h2>
              <img width="8%" src="../assets/images/icon/logoMini.png" alt="logo">
              <a href="#">Dịch vụ luật sư hình sự</a>
          </h2>
          <div class="box-detail">
              <div class="boxtt">
                  <a href="#">
                     <div class="row">
                        <div class="col-xs-4 col-sm-3 smkl-3 form-group">
                          <img width="100%" src="../assets/images/icon/Dvlshs.jpg" alt="Dịch vụ luật sư Hình sự tại Đồng Nai – Luật Gia Vinh">
                        </div>
                        <div class="col-xs-8 col-sm-9 smkl-9">
                          <h3 class="title-h3">Dịch vụ luật sư Hình sự tại Đồng Nai – Luật Gia Vinh</h3>
                          <p>
                            <span>09/08/2022</span>
                            07:25
                          </p>
                        </div>
                     </div>
                  </a>
              </div>
              <ul>
                 <li>
                     <a href="#">Luật sư hình sự bào chữa tại Bình Dương</a>
                 </li>
                 <li>
                     <a href="#">Luật sư hình sự tại Biên Hòa</a>
                 </li>
              </ul>
          </div>
      </div>
  </div>
             </div>
         </div>
      </section>
    </main>
    <footer>
        <div class="footer-info">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="dv-luatsu">
                            <div class="widget_text widget widget_custom_html">
                              <h3 class="widget-title">LUẬT SƯ TẠI BIÊN HÒA</h3>
                              <div class="border-bt-xanh"></div>
                              <div class="textwidget custom-html-widget">
                                <p>
                                  <i class="fa fa-map-marker"></i>
                                  Số 30 (Lầu 1) Đường Hưng Đạo Vương, P. Thanh Bình, TP Biên Hòa, Tỉnh Đồng Nai
                                </p>
                                <p>
                                  <i class="fa fa-phone"></i>
                                  090 579 8868
                                </p>
                                <p>
                                  <i class="fa fa-envelope-o"></i>
                                  luatgiaquan@gmail.com
                                </p>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="dv-luatsu">
                            <div class="widget_text widget widget_custom_html">
                              <h3 class="widget-title">LUẬT SƯ TẠI BÌNH DƯƠNG</h3>
                              <div class="border-bt-xanh"></div>
                              <div class="textwidget custom-html-widget">
                                <p>
                                  <i class="fa fa-map-marker"></i>
                                  Đường Tân An, thị xã Dĩ An, Bình Dương
                                </p>
                                <p>
                                  <i class="fa fa-phone"></i>
                                  0986 649 686
                                </p>
                                <p>
                                  <i class="fa fa-envelope-o"></i>
                                  luatgiaquan@gmail.com
                                </p>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="dv-luatsu">
                            <div class="widget_text widget widget_custom_html">
                              <h3 class="widget-title">LUẬT SƯ TẠI HỒ CHÍ MINH</h3>
                              <div class="border-bt-xanh"></div>
                              <div class="textwidget custom-html-widget">
                                <p>
                                  <i class="fa fa-map-marker"></i>
                                  169 (Tầng 2) Lương Định Của, Phường An Khánh, thành phố Thủ Đức, thành phố Hồ Chí Minh
                                </p>
                                <p>
                                  <i class="fa fa-phone"></i>
                                  0986 649 686
                                </p>
                                <p>
                                  <i class="fa fa-envelope-o"></i>
                                  luatgiaquan@gmail.com
                                </p>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="dv-luatsu">
                            <div class="widget_text widget widget_custom_html">
                              <h3 class="widget-title">LUẬT SƯ TẠI HÀ NỘI</h3>
                              <div class="border-bt-xanh"></div>
                              <div class="textwidget custom-html-widget">
                                <p>
                                  <i class="fa fa-map-marker"></i>
                                  Số 9, ngách 23/49, Phường Phúc Diễn, Quận Bắc Từ Liêm, Hà Nội
                                </p>
                                <p>
                                  <i class="fa fa-phone"></i>
                                  090 579 8868
                                </p>
                                <p>
                                  <i class="fa fa-envelope-o"></i>
                                  luatgiaquan@gmail.com
                                </p>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right">
            <div class="container">
                <p>
                  Bản quyền thuộc Luật Gia Quân © 2013 All rights reserved.
                  <a href="#" title="DMCA.com Protection Status">
                     <img src="../assets/images/icon/dmca.png" alt="DMCA.com Protection Status">
                  </a>
                </p>
            </div>
        </div>
    </footer>
    <div class="button-group-desktop button-group-fixed mb-hide">
        <ul>
           <li class="goi-dien">
              <a href="tel:090 579 8868">
                 <i class="fa fa-phone"></i>
                 <small>Gọi điện</small>
              </a>
           </li>
           <li class="dat-cau-hoi">
              <a href="/lien-he/">
                 <i class="fa fa-question"></i>
                 <small>Đặt câu hỏi</small>
              </a>
           </li>
           <li class="bao-gia">
              <a href="/bao-gia/">
                 <i class="fa fa-dollar"></i>
                 <small>Báo giá</small>
              </a>
           </li>
           <li class="dat-hen">
              <a href="/dat-hen/">
                 <i class="fa fa-calendar"></i>
                 <small>Đặt hẹn</small>
              </a>
           </li>
        </ul>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>



